[Unit]
Description=ERPNext Biometric Attendance Sync
Wants=network-online.target network.target
After=network.target

[Service]
WorkingDirectory=<add the location of the script directory here>
ExecStart=<insert path to python executable here> erpnext_sync.py
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
